In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [2]:
r = requests.get('https://www.premierleague.com/tables')
soup = BeautifulSoup(r.text,"lxml")

In [3]:
teams = soup.find_all('tr', {'data-compseason': '210'})
football = []
for item in teams:
    nums = item.find_all('td')
    row={}
    row['Position'] = nums[1].find('span', {'class': 'value'}).text
    row['Club'] = nums[2].find('span', {'class': 'long'}).text
    row['Played'] = nums[3].text
    row['Won'] = nums[4].text
    row['Drawn'] = nums[5].text
    row['Lost'] = nums[6].text
    row['GF'] = nums[7].text
    row['GA'] = nums[8].text
    row['GD'] = nums[9].text
    row['Points'] = nums[10].text

    football.append(row)

frame = pd.DataFrame(football,columns=['Position','Club','Played','Won','Drawn','Lost','GF','GA','GD','Points'])
frame

,Position,Club,Played,Won,Drawn,Lost,GF,GA,GD,Points
0,1,Liverpool,20,17,3,0,48,8,+40,54
1,2,Tottenham Hotspur,20,15,0,5,43,21,+22,45
2,3,Manchester City,19,14,2,3,51,15,+36,44
3,4,Chelsea,19,12,4,3,37,16,+21,40
4,5,Arsenal,20,11,5,4,42,30,+12,38
5,6,Manchester United,19,9,5,5,37,31,+6,32
6,7,Wolverhampton Wanderers,20,8,5,7,23,23,0,29
7,8,Leicester City,20,8,4,8,24,23,+1,28
8,9,Watford,20,8,4,8,27,28,-1,28
9,10,Everton,20,7,6,7,31,30,+1,27
10,11,West Ham United,19,8,3,8,27,28,-1,27
11,12,Bournemouth,19,8,2,9,27,33,-6,26
12,13,Brighton and Hove Albion,20,7,4,9,22,27,-5,25
13,14,Crystal Palace,19,5,4,10,17,25,-8,19
14,15,Newcastle United,20,4,6,10,15,27,-12,18
15,16,Cardiff City,20,5,3,12,19,38,-19,18
16,17,Southampton,19,3,6,10,20,35,-15,15
17,18,Fulham,20,3,5,12,18,43,-25,14
18,19,Burnley,19,3,3,13,17,41,-24,12
19,20,Huddersfield Town,20,2,4,14,12,35,-23,10